.agency,
.agency th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1rem;
}
.agency {
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

body {
    background-color: lightgray;
    /* max-width: 1200px;
    margin: 0 auto; */
}

.display {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
img {
    width: 100%;
}
.nav {
    display: flex;
    justify-content: center;
}
.nav ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.nav ul li {
    list-style: none;

    text-align: center;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.nav ul li:hover {
    background-color: grey;
}

.nav ul li {
    border: 2px solid grey;
    margin: 1rem;
    padding: 0.5rem;
}

#agence {
    margin-bottom: 3rem;
}
form {
    margin: 0 auto;
    width: 50%;
}
.form-control {
    width: 100%;
}
textarea {
    width: 100%;
}

button {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

table {
    margin-bottom: 3rem;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.form-select {
    width: 100%;
    margin-bottom: 3rem;
}

tr:hover {
    cursor: pointer;
}

.product {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 3rem;
}

.indexHeader {
    max-width: 1300px;
    margin: 0 auto;
    background-image: url("");
}
